@use "../../var";

div.MobileNavbar {
  display: none;
  /* Query Mobile */
  @media (max-width: 1024px) {
    display: block;
    position: absolute;
    z-index: 1000;
    bottom: 30px;
    right: 30px;
    section.openMenu {
      width: 20vw;
      height: 20vw;
      border-radius: 100px;
      @include var.flex-container(row,center,center);
      backdrop-filter: blur(5px);
      background-color: rgba(138, 22, 49, 0.7);
      box-shadow: 3px 7px 15px 8px rgba(0,0,0,0.75);
      svg {
        font-size: 2em;
      }
    }
  }
}
