@use "./var";
@use "./layout/BasicLayout";
@use "./pages/Home/Home";
@use "./components/Navbar/Navbar";

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;300;400;500;700&display=swap');

@font-face {
  font-family: 'BebasNeue-Regular';
  src: url('./assets/fonts/BebasNeue/BebasNeue-Regular.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div.App {
  @include var.flex-container(row,center,center);
  height: 100vh;
  width: 100vw;
  padding: 1.5%;
  background-color: var.$background-back;
  color: var.$text;
  font-family: 'Be Vietnam Pro', sans-serif;
  user-select: none;
}
