@use "../var";

div.Layout {
  @include var.flex-container(row, space-between, start);
  width: 100%;
  height: 100%;
  background-color: var.$background-front;
  border: thin solid var.$text;
  div.RightPanel {
    padding: 1%;
    height: 100%;
    width: 80%;
    overflow: scroll;
    animation: fade-in 2s;
    &::-webkit-scrollbar {
        display: none;
    }
    h1.title {
      font-size: 4rem;
      font-family: 'BebasNeue-Regular';
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}